{% extends 'users/layout.html' %}
{% block body %}
    <div>
        <h1>Welcome, {{ request.user.first_name }} </h1>
    </div>
    <div>
        <ul>
            <li> Username: {{ request.user.username }}</li>
            <li> email: {{ request.user.email }}</li>
        </ul>
        <div>
            <form action="{% url 'users:addpassenger' %}" method="post">
                {% csrf_token %}
                Lastname: <input type="text" placeholder="lastname" name="lastname" required/>
                <input type="text" value="{{ request.user.username}}" name="firstname" hidden/>
                <input type="submit" value="submit"/>
            </form>
            <div>
                <p> {{ message }}</p>

            </div>
        </div>
    </div>

    <div>
        <h1> My flights </h1>
        {% for flight in my_flights %}
            <ul>
                <li> {{ flight }}</li>
            </ul>
            {% empty %}
                <p> No flights available !!!!</p>
        {% endfor%}
    </div>

    <a href="{% url 'users:logout' %}">Log out</a>
{% endblock %}
